@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.excluded-component {
  filter: none !important;
}

@layer components {
  .page-wrapper {
    @apply min-h-dvh w-full flex flex-col p-4;
  }
}
