@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.excluded-component {
  filter: none !important;
}

@layer components {
  .page-wrapper {
    @apply h-dvh flex flex-col overflow-hidden;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
